@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282828;
  color: #e4e4e4;
  font-family: Verdana, sans-serif;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #282828;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
